* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 80rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 1.2rem;
}

.nav ul li {
  list-style: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.main-container {
  margin: 0.8rem 3rem;
}

.restro-list {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.card {
  width: 16rem;
  border: 1px solid rgba(0, 0, 0, 0.466);
  border-radius: 0.5rem;
}

.card img {
  width: 100%;
  height: 12rem;
}

.content {
  padding: 0.4rem;
}

.dish-name {
  font-size: 1.8rem;
}

.desc {
  font-size: 1.3rem;
  margin: 0.3rem 0;
  color: rgb(94, 94, 94);
}

.price {
  margin-top: 0.3rem;
  font-size: 1.1rem;
}

footer p {
  text-align: center;
  font-size: 1.1rem;
  margin: 0.8rem;
}

.search {
  margin: 1rem 0;
}

.search input {
  padding: 0.5rem;
  font-size: 1rem;
}

.search button {
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  background-color: blue;
  color: #fff;
  margin-left: 0.8rem;
}
